<h1 class="text-3xl font-bold mb-6"><%= t('short_urls.index.title') %></h1>
<%= link_to t('short_urls.index.create_new'), new_short_url_path, class: "inline-block mb-4 px-4 py-2 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700" %>
<div class="space-y-4">
  <% @short_urls.each do |short_url| %>
    <div class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center">
      <div>
        <strong><%= t('short_urls.index.short_url') %></strong>
        <%= link_to "#{ENV['ROOT_URL']}/#{short_url.short_code}", short_path(short_url.short_code), class: "text-indigo-600 hover:underline" %>
        <br>
        <strong><%= t('short_urls.index.original_url') %></strong>
        <%= link_to short_url.original_url&.truncate(60), short_url.original_url, class: "text-gray-600 hover:underline" %>
      </div>
      <button 
        data-controller="copy" 
        data-copy-url-value="<%= short_url(short_url.short_code) %>" 
        data-action="click->copy#copy" 
        class="bg-indigo-600 text-white py-1 px-4 rounded hover:bg-indigo-700"
        >
        <%= t('short_urls.index.copy') %>
      </button>
    </div>
  <% end %>
</div>
<div class="mt-6">
  <%= paginate @short_urls %>
</div>
<h2>Test kamal</h2>
