<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Tailwind CSS -->
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100">
  <nav class="bg-white shadow mb-4">
    <div class="container mx-auto p-4 flex justify-between items-center">
      <%= link_to "URL Shortener", root_path, class: "text-xl font-bold text-gray-900" %>
      <div>
        <% if user_signed_in? %>
          <%= link_to t('nav.dashboard'), short_urls_path, class: "text-gray-800 hover:text-indigo-600 mr-4" %>
         <%= link_to t('nav.logout'), destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, class: "text-gray-800 hover:text-indigo-600" %>

        <% else %>
          <%= link_to t('nav.sign_up'), new_user_registration_path, class: "text-gray-800 hover:text-indigo-600 mr-4" %>
          <%= link_to t('nav.login'), new_user_session_path, class: "text-gray-800 hover:text-indigo-600" %>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container mx-auto p-4">
    <% flash.each do |key, value| %>
      <div data-controller="dismiss" class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative mb-4" role="alert">
        <strong class="font-bold"><%= flash_title_for(key) %></strong>
        <span class="block sm:inline"><%= value %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3" data-action="click->dismiss#close">
          <svg class="fill-current h-6 w-6 text-blue-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <title>Close</title>
            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
          </svg>
        </span>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
